@import "variables.scss";
@import "competitions";
//@import "vendor/bootstrap";
@import "mixins";
//@import "vendor/font-awesome";


html, body 
{
    background: $background-color;
    color: $font-color;
    @media screen and (max-width: 480px) 
    {
        background: $reverse-background-color;
        color: $reverse-font-color;
    }
}

.error {
    color: red;
    @include size(100px, 200px);
    background: $error-background;
}

.serious-error {
    @extend .error;
    font-weight: bold;
    @include size(200px, 300px);
    background: $serious-error-background;
}

.main-container {
    color: $container-color;
}