$border-color: #FC0;
$font-color: #000;
$background-color: #FFF;
$reverse-background-color: #000;
$reverse-font-color: #FFF;
$error-background: #666;
$serious-error-background: #333;
$container-color: #FC0;